<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sell Posts</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'css/sellposts.css' %}">

{% for post in posts %}


<div class="col-lg-4 col-md-6">

    <div class="seller-card">

        <!-- TOP -->
        <div class="seller-top">

            <div class="seller-left">

                <img src={{post.user.profile_pic }} class="seller-profile">

                <div>

                    <h5>
                        {{ post.user.user.username }}
                        <i class="fa-solid fa-circle-check verified"></i>
                    </h5>

                    <span>
                        <i class="fa-regular fa-clock"></i>
                        {{ post.created_at|timesince }} ago
                    </span>

                </div>

            </div>

            <div class="seller-right">

                <button class="menu-btn" onclick="savePost(this)">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>

                <div class="save-box">
                    <i class="fa-regular fa-bookmark"></i>
                    Save Post
                </div>

            </div>

        </div>

        <!-- IMAGE -->

      <div class="product-image-box">

    {% with image=post.images.first %}
        {% if image %}
            <img src="{{ image.image.url }}" class="product-image">
        {% else %}
            <img src="{% static 'images/no-image.png' %}" class="product-image">
        {% endif %}
    {% endwith %}

    <span class="product-tag">
        {{ post.type }}
    </span>

</div>
        </div>

        <!-- BODY -->

        <div class="product-body">

            <div class="title-price">

                <h4>
                    {{ post.category.name }}
                </h4>

                <span class="price">
                    {{ post.price }} MMK
                </span>

            </div>

            <p>
                {{ post.description|truncatewords:20 }}
            </p>

            <!-- FEATURES -->

            <div class="product-features">

                <span>
                    <i class="fa-solid fa-box"></i>
                    Qty : {{ post.quantity }}
                </span>


            </div>

            <!-- BUTTONS -->

            <div class="product-buttons">

                            <button class="cart-btn">

                                <i class="fa-solid fa-cart-shopping"></i>

                                Add to Cart

                            </button>

                            <button class="detail-btn">

                                View Details

                            </button>
            </div>
            </div>

        </div>

    </div>

</div>

{% empty %}

<h3>No approved posts available.</h3>

{% endfor %}

</body>
</html>