{% extends "base1.html" %}
{% load static %}

{% block title %}
    My Wishlist
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
{% endblock %}

{% block content %}

<div class="container py-5">

    <!-- =========================================================
         PAGE HEADER
    ========================================================== -->

    <div class="wishlist-header">

        <span class="badge-text">
            MY SHOPPING
        </span>

        <h1>
            My Wishlist
        </h1>

        <p>
            Your saved products
        </p>

    </div>


    <!-- =========================================================
         WISHLIST PRODUCTS
    ========================================================== -->

    <div class="row g-4">

        {% for wishlist in wishlist_items %}

            {% for item in wishlist.post.items.all %}

                <div class="col-lg-3 col-md-4 col-sm-6">

                    <div class="wishlist-card">


                        <!-- =================================================
                             PRODUCT IMAGE
                        ================================================= -->

                        <div class="wishlist-image-wrapper">

                            {% with image=item.images.first %}

                                {% if image %}

                                    <img
                                        src="{{ image.image.url }}"
                                        class="wishlist-image"
                                        alt="{{ item.name }}"
                                    >

                                {% else %}

                                    <div class="wishlist-image-placeholder">
                                        <i class="fa-solid fa-image"></i>
                                    </div>

                                {% endif %}

                            {% endwith %}

                        </div>


                        <!-- =================================================
                             PRODUCT INFORMATION
                        ================================================= -->

                        <div class="wishlist-body">

                            <!-- PRODUCT NAME -->

                            <h5 class="wishlist-product-name">
                                {{ item.name }}
                            </h5>


                            <!-- PRICE -->

                            <p class="wishlist-price">
                                MMK {{ item.price }}
                            </p>


                            <!-- CONDITION -->

                            <div class="wishlist-condition">

                                {% if wishlist.post.condition == 'new' %}
                                    <span class="badge badge-new">Brand New</span>
                                {% else %}
                                    <span class="badge badge-used">Second Hand</span>
                                {% endif %}

                            </div>


                            <!-- =================================================
                                 REMOVE FROM WISHLIST
                            ================================================= -->

                            <div class="wishlist-footer">

                                <a
                                    href="{% url 'wishlist:remove' wishlist.post.id %}"
                                    class="wishlist-remove-btn"
                                >

                                    <i class="fa-solid fa-heart-crack"></i>

                                    Remove

                                </a>

                            </div>

                        </div>


                    </div>

                </div>

            {% endfor %}


        {% empty %}

            <!-- =========================================================
                 EMPTY WISHLIST
            ========================================================== -->

            <div class="col-12">

                <div class="wishlist-empty">

                    <div class="wishlist-empty-icon">
                        <i class="fa-regular fa-heart"></i>
                    </div>

                    <h3>
                        Your Wishlist is Empty
                    </h3>

                    <p>
                        Save products you love and find them here later.
                    </p>


                    <a
                        href="{% url 'home' %}"
                        class="btn btn-primary"
                    >

                        Continue Shopping

                    </a>

                </div>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}