<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- ================================================= -->
<!-- FOOTER -->
<!-- ================================================= -->

<footer class="footer">

    <div class="container text-center">

        <h3>

            Trusty Shop

        </h3>

        <p>

            Buy • Sell • Trust

        </p>

        <div class="footer-social">

            <a href="#"><i class="fab fa-facebook-f"></i></a>

            <a href="#"><i class="fab fa-instagram"></i></a>

            <a href="#"><i class="fab fa-x-twitter"></i></a>

            <a href="#"><i class="fab fa-github"></i></a>

        </div>

        <hr>

        <p>

            © 2026 Trusty Shop. All Rights Reserved.

        </p>

    </div>

</footer>
</body>
</html>