<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
!-- ================================================= -->
<!-- SAME NAVBAR AS HOME -->
<!-- ================================================= -->


<nav class="navbar navbar-expand-md cute-navbar fixed-top">


<div class="container">



<!-- SHOP LOGO -->

<a class="navbar-brand" href="#">


<span class="logo-circle">

<i class="fa-solid fa-bag-shopping"></i>

</span>


Trusty Shop


</a>




<!-- MOBILE NAVBAR BUTTON -->

<button class="navbar-toggler"
data-bs-toggle="collapse"
data-bs-target="#navbar">


<i class="fa-solid fa-bars"></i>


</button>




<!-- NAVBAR MENU -->

<div class="collapse navbar-collapse" id="navbar">


<ul class="navbar-nav ms-auto">



<!-- HOME -->

<li class="nav-item">

<a class="nav-link active" href="{% url 'home' %}">

<i class="fa-solid fa-house"></i>

Home

</a>

</li>



<!-- NOTIFICATION -->

<li class="nav-item">

<a class="nav-link" href="#">

<i class="fa-solid fa-bell"></i>

Noti

</a>

</li>




<!-- ABOUT -->

<li class="nav-item">

<a class="nav-link" href="#">

<i class="fa-solid fa-circle-info"></i>

About

</a>

</li>




<!-- CART -->

<li class="nav-item">

<a class="nav-link cart-link" href="#">


<i class="fa-solid fa-cart-shopping"></i>

Cart


<span class="cart-count">

3

</span>


</a>

</li>




<!-- PROFILE -->

<li class="nav-item">

<a class="nav-link" href="#">


<i class="fa-solid fa-user"></i>

Profile


</a>

</li>



</ul>


</div>


</div>


</nav>
</body>
</html>