<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<nav class="navbar navbar-expand-md cute-navbar fixed-top">

    <div class="container">

        <!-- =====================================================
             SHOP LOGO
        ====================================================== -->

        <a class="navbar-brand" href="#">

            <span class="logo-circle">
                <i class="fa-solid fa-bag-shopping"></i>
            </span>

            Trusty Shop

        </a>


        <!-- =====================================================
             MOBILE NAVBAR BUTTON
        ====================================================== -->

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <i class="fa-solid fa-bars"></i>

        </button>


        <!-- =====================================================
             NAVBAR MENU
        ====================================================== -->

        <div
            class="collapse navbar-collapse"
            id="navbar">

            <ul class="navbar-nav ms-auto">


                <!-- =================================================
                     HOME
                ================================================== -->

                <li class="nav-item">

                    {% if request.user.is_authenticated %}

                        <a
                            class="nav-link {% if request.path == '/home/' %}active{% endif %}"
                            href="{% url 'home' %}">

                            <i class="fa-solid fa-house"></i>
                            Home

                        </a>

                    {% else %}

                        <a
                            class="nav-link"
                            href="{% url 'welcome' %}">

                            <i class="fa-solid fa-house"></i>
                            Home

                        </a>

                    {% endif %}

                </li>


                <!-- =================================================
                     NOTIFICATION
                ================================================== -->

                <li class="nav-item">

                    {% if request.user.is_authenticated %}

                        <a
                            class="nav-link notification-nav-link {% if request.path == '/notifications/' %}active{% endif %}"
                            href="{% url 'notifications' %}">

                            <i class="fa-solid fa-bell"></i>

                            Noti


                            <!-- =====================================
                                 NOTIFICATION BADGE

                                 Always exists in the DOM.
                                 JavaScript controls visibility.
                            ====================================== -->

                            <span
                                id="notificationBadge"
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                style="{% if user_notification_count > 0 %}display:flex;{% else %}display:none;{% endif %}">

                                {% if user_notification_count > 0 %}
                                    {{ user_notification_count }}
                                {% endif %}

                            </span>

                        </a>

                    {% else %}

                        <a
                            class="nav-link"
                            href="{% url 'user:register' %}">

                            <i class="fa-solid fa-bell"></i>
                            Noti

                        </a>

                    {% endif %}

                </li>


                <!-- =================================================
                     ABOUT
                ================================================== -->

                <li class="nav-item">

                    <a
                        class="nav-link {% if request.path == '/about/' %}active{% endif %}"
                        href="{% url 'about' %}">

                        <i class="fa-solid fa-circle-info"></i>
                        About

                    </a>

                </li>


                <!-- =================================================
                     CART
                ================================================== -->

                <li class="nav-item">

                    {% if request.user.is_authenticated %}

                        <a
                            class="nav-link cart-link {% if request.path == '#' %}active{% endif %}"
                            href="#">

                            <i class="fa-solid fa-cart-shopping"></i>

                            Cart

                            <span class="cart-count">
                                3
                            </span>

                        </a>

                    {% else %}

                        <a
                            class="nav-link cart-link"
                            href="{% url 'user:register' %}">

                            <i class="fa-solid fa-cart-shopping"></i>

                            Cart

                            <span class="cart-count">
                                3
                            </span>

                        </a>

                    {% endif %}

                </li>


                <!-- =================================================
                     PROFILE
                ================================================== -->

                <li class="nav-item profile-nav-item">

                    {% if request.user.is_authenticated %}

                        <a
                            class="nav-link profile-link"
                            href="{% url 'user:dashboard' %}">


                            <!-- PROFILE IMAGE -->

                            {% if request.user.profile.profile_pic and request.user.profile.profile_pic.name != "profile_pics/default.jpg" %}

                                <img
                                    src="{{ request.user.profile.profile_pic.url }}"
                                    alt="Profile"
                                    class="nav-profile-image">

                            {% else %}

                                <i
                                    class="fa-solid fa-circle-user nav-profile-icon">
                                </i>

                            {% endif %}


                            <!-- PROFILE NAME -->

                            <span class="profile-name">

                                {{ request.user.profile.fullName }}

                            </span>

                        </a>

                    {% else %}

                        <a
                            class="nav-link profile-link"
                            href="{% url 'user:login' %}">

                            <i
                                class="fa-solid fa-circle-user nav-profile-icon">
                            </i>

                            <span class="profile-name">
                                Login
                            </span>

                        </a>

                    {% endif %}

                </li>


            </ul>

        </div>

    </div>

</nav>


<!-- =============================================================
     NOTIFICATION COUNT JAVASCRIPT

     IMPORTANT:
     This script ONLY updates the notification badge.

     It does NOT:
     - modify forms
     - modify buttons
     - modify inputs
     - prevent clicks
     - prevent submit
     - add event listeners to CreatePost
============================================================== -->
<script>

(function () {

    "use strict";


    // =========================================================
    // LOAD NOTIFICATION COUNT
    // =========================================================

    function loadNotificationCount() {

        fetch(
            "/notifications/count/",
            {
                method: "GET",

                credentials: "same-origin",

                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                }
            }
        )

        .then(function (response) {

            if (!response.ok) {
                throw new Error(
                    "Notification count request failed."
                );
            }

            return response.json();

        })

        .then(function (data) {

            const badge =
                document.getElementById(
                    "notificationBadge"
                );


            if (!badge) {
                return;
            }


            const count =
                Number(data.count || 0);


            // =================================================
            // SHOW BADGE
            // =================================================

            if (count > 0) {

                badge.textContent = count;

                badge.style.display = "flex";

            }


            // =================================================
            // HIDE BADGE
            // =================================================

            else {

                badge.textContent = "";

                badge.style.display = "none";

            }

        })

        .catch(function (error) {

            console.error(
                "Notification count error:",
                error
            );

        });

    }


    // =========================================================
    // MAKE FUNCTION AVAILABLE GLOBALLY
    // notification.js can call this
    // =========================================================

    window.loadNotificationCount =
        loadNotificationCount;


    // =========================================================
    // INITIAL LOAD
    // =========================================================

    if (
        document.readyState === "loading"
    ) {

        document.addEventListener(
            "DOMContentLoaded",
            loadNotificationCount
        );

    } else {

        loadNotificationCount();

    }


    // =========================================================
    // AUTO REFRESH EVERY 5 SECONDS
    // =========================================================

    window.notificationCountInterval =
        setInterval(
            loadNotificationCount,
            5000
        );


})();

</script>