{% extends "user/base.html" %}
{% load static %}

{% block title %}
Login | TrustyShop
{% endblock %}

{% block content %}

<div class="universe">

    <span class="planet planet-1"></span>
    <span class="planet planet-2"></span>
    <span class="planet planet-3"></span>

    <span class="glow glow-1"></span>
    <span class="glow glow-2"></span>

    <div id="stars"></div>

    <div id="particles"></div>

</div>


<section class="auth-page">

    <div class="auth-card">

        <span class="card-border"></span>


        <!-- Logo -->

        <div class="logo-box">

            <div class="logo-circle">

                <i class="fa-solid fa-store"></i>

            </div>

            <h1>Welcome Back</h1>

            <p>
                Continue shopping with TrustyShop
            </p>

        </div>


        <!-- Login Form -->

        <form method="POST"
              autocomplete="off">

            {% csrf_token %}


            <!-- Username -->

            <div class="input-box">

                <i class="fa-solid fa-user input-icon"></i>

                {{ form.username }}

                <label>
                    Username or Email
                </label>

            </div>


            <!-- Password -->

            <div class="password-box">

                <i class="fa-solid fa-lock input-icon"></i>

                {{ form.password }}

                <label>
                    Password
                </label>

                <button
                    type="button"
                    class="toggle-password">

                    <i class="fa-solid fa-eye-slash"></i>

                </button>

            </div>


            <!-- Remember / Forgot -->

            <div class="login-options">

                <label class="remember">

                    {{ form.remember_me }}

                    <span>
                        Remember Me
                    </span>

                </label>


                <a href="#"
                   class="forgot-link">

                    Forgot Password?

                </a>

            </div>


            <!-- Login Button -->

            <button
                type="submit"
                class="auth-btn">

                <span class="btn-glow"></span>

                <i class="fa-solid fa-right-to-bracket"></i>

                <span>
                    Login
                </span>

            </button>


            <!-- Divider -->

            <div class="divider">

                <span>
                    OR
                </span>

            </div>


            <!-- Social -->

            <div class="social-login">

                <button type="button"
                        aria-label="Google">

                    <i class="fab fa-google"></i>

                </button>

                <button type="button"
                        aria-label="Facebook">

                    <i class="fab fa-facebook-f"></i>

                </button>

            </div>


            <!-- Register -->

            <div class="bottom-text">

                Don't have an account?

                <a href="{% url 'user:register' %}">

                    Register

                </a>

            </div>

        </form>

    </div>

</section>

{% endblock %}