{% extends "adminpanel/base_admin.html" %}
{% block content %}
<h1 class="page-title">
    Dashboard
</h1>


<div class="cards">


    <!-- TOTAL USERS -->

    <div class="card">

        <h4>
            Total Users
        </h4>


        <h2 class="counter"
            data-target="{{ total_users }}">
            0
        </h2>


        <i class="fa-solid fa-users"></i>

    </div>




    <!-- TOTAL SELLERS -->

    <div class="card">

        <h4>
            Total Sellers
        </h4>


        <h2 class="counter"
            data-target="{{ total_sellers }}">
            0
        </h2>


        <i class="fa-solid fa-store"></i>

    </div>





    <!-- PENDING POSTS -->

    <div class="card">

        <h4>
            Pending Posts
        </h4>


        <h2 class="counter"
            data-target="{{ pending_posts }}">
            0
        </h2>


        <i class="fa-solid fa-box-open"></i>

    </div>





    <!-- PENDING ORDERS -->

    <div class="card">

        <h4>
            Pending Orders
        </h4>


        <h2 class="counter"
            data-target="{{ pending_orders }}">
            0
        </h2>


        <i class="fa-solid fa-truck-fast"></i>

    </div>





    <!-- TOTAL REVENUE -->

    <div class="card">

        <h4>
            Total Revenue
        </h4>


        <h2>
            {{ total_revenue }} MMK
        </h2>


        <i class="fa-solid fa-sack-dollar"></i>

    </div>



</div>


{% endblock %}