{% extends "adminpanel/base_admin.html" %}
{% load static %}


{% block title %}
    Pending Posts | Trusty Shop Admin
{% endblock %}


{% block content %}


<div class="page-header">

    <div>

        <h1 class="page-title">
            Pending Posts
        </h1>

        <p class="page-subtitle">
            Review and manage seller product submissions.
        </p>

    </div>

</div>


<div class="table-container">

    <table>

        <thead>
    <tr>
        <th style="width:90px;">Photo</th>
        <th>Product Details</th>
        <th style="width:150px;">Category</th>
        <th style="width:150px;">Quantity</th>
        <th style="width:120px;">Price</th>
        <th style="width:120px;">Status</th>
        <th style="width:150px;">Action</th>
    </tr>
</thead>


        <tbody>

{% for post in pending_posts %}

<tr>

    <!-- Product Image -->
    <td>

        {% for image in post.images.all|slice:":1" %}

            <img src="{{ image.image.url }}"
                 class="table-product-image">

        {% empty %}

            No Image

        {% endfor %}

    </td>


    <!-- Product Details -->
    <td>

        <div class="product-info">

            <h4>

                {{ post.description|truncatechars:35 }}

            </h4>
        </div>

    </td>


    <!-- Category -->

    <td>

       {{ post.category.name }}

    </td>

    <td>

       {{ post.user.name }}

    </td>


    <td>
        {{ post.quantity }}
    </td>


    <!-- Price -->

    <td>

        <strong>

            {{ post.price }} MMK

        </strong>

    </td>


    <!-- Status -->

    <td>

        <span class="status pending">

            {{ post.status|title }}

        </span>

    </td>


    <!-- Action -->

    <td>

        <div class="action-buttons">

            <a href="{% url 'post_detail' post.id %}"
               class="btn btn-view">

                <i class="fa-solid fa-eye"></i>

            </a>

            <a href="{% url 'approve_post' post.id %}"
               class="btn btn-approve">

                <i class="fa-solid fa-check"></i>

            </a>

            <a href="{% url 'reject_post' post.id %}"
               class="btn btn-reject">

                <i class="fa-solid fa-xmark"></i>

            </a>

        </div>

    </td>

</tr>

{% empty %}

<tr>

    <td colspan="6" class="empty-state">

        <img src="{% static 'images/empty.png' %}" width="120">

        <h2>No Pending Posts</h2>

        <p>Every submitted product has already been reviewed.</p>

    </td>

</tr>

{% endfor %}

</tbody>

    </table>

</div>


{% endblock %}